# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# cmake realte
*.internal
*.includecache
src/CMakeFiles/
client/CMakeFiles/
lib/CMakeFiles/
lib/cpp/CMakeFiles/
CMakeFiles/
CMakeCache.txt
Makefile
